<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main" style="background-image: none">
      <div class="container">
        <div class="content">
          <section class="diamond-contents">
            <a href="http://">
              <img src="images/cancel.png" alt="" srcset="" />
            </a>
            <!-- Your diamond Info section -->
            <div class="diamond-info diamond-sec">
              <img src="images/buy-diamond/diamond-icon.png" alt="" srcset="" />
              <div class="diamond-info-right right">
                <p class="title">
                  You have
                  <span class="total-diamond">957</span>
                  diamonds
                </p>
                <p class="description">You can use diamonds to freeze & increase the time to complete the challenge.</p>
              </div>
            </div>
            <p class="heading">Buy More Diamonds</p>
            <!-- Buy diamond sections  -->
            <div class="buy-diamonds-sec">
              <!-- Diamond package  -->
              <div class="diamond-package">
                <img src="images/buy-diamond/diamond-icon.png" alt="" srcset="" />
                <p class="diamond-value">1,000</p>
                <p class="diamond-price">$2.00</p>
              </div>
              <!-- Diamond package  -->
              <div class="diamond-package">
                <img src="images/buy-diamond/diamond-icon.png" alt="" srcset="" />
                <p class="diamond-value">2,000</p>
                <p class="diamond-price">$4.00</p>
              </div>
              <!-- Diamond package  -->
              <div class="diamond-package">
                <img src="images/buy-diamond/diamond-icon.png" alt="" srcset="" />
                <p class="diamond-value">3,000</p>
                <p class="diamond-price">$6.00</p>
              </div>
            </div>
            <p class="heading">Promo Code</p>
            <!-- Promo section  -->
            <div class="promo-section diamond-sec">
              <img src="images/buy-diamond/promo-icon.png" alt="" srcset="" />
              <div class="promo-right right">
                <p class="title">Redeem promo code</p>
                <p class="description">Enter promo code to get free diamonds.</p>
                <a href="http://" class="redeem-btn">Redeem now</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
