<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Diamond Success</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="content-section">
          <section class="buy-diamond-success-upper-sec">
            <div class="buy-diamond-success-msg">
              <p class="msg">Yeaayy!!</p>
              <img src="images/buy-diamond-success-icons/msg.png" alt="" srcset="" width="200px" />
            </div>
            <div class="buy-diamond-success-emoji">
              <img src="images/buy-diamond-success-icons/emoji-icon.png" alt="" srcset="" />
            </div>
            <div class="buy-diamond-success-app-name">
              <h1>Successful!</h1>
            </div>
            <div class="buy-diamond-success-description">
              <p>2,000 diamonds have been added to your account.</p>
            </div>
          </section>
          <section class="signup-btns">
            <div class="continue-btn">
              <a href="" class="btn m-b-20 btn-primary">OK</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
