<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'Ymay/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet"/>
</head>
<body>
<div class="main" style="background-image: none">
    <div class="container">
        <div class="content">
            <!-- homepage navbar  -->
            <section class="homepage-navbar-sec">
                <div class="homepage-navbar">
                    <!-- language-flag -->
                    <div class="language-flag item">
                        <div class="img-container">
                            <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/usa-flag.png' %}" alt=""
                                 srcset=""/>
                        </div>
                        <p class="nav-text">EN</p>
                    </div>
                    <!-- fire points  -->
                    <div class="fire-points item">
                        <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/fire-icon.png' %}" alt=""
                             srcset=""/>
                        <p class="nav-text">4</p>
                    </div>
                    <!-- diamond-points -->
                    <div class="diamond-points item">
                        <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/points-icon.png' %}" alt=""
                             srcset=""/>
                        <p class="nav-text">957</p>
                    </div>
                    <!-- stars  -->
                    <div class="stars item">
                        <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/star-icon.png' %}" alt=""
                             srcset=""/>
                        <p class="nav-text"></p>
                    </div>
                </div>
                <div class="expanded-navbar">
                    <!-- language expanded options -->
                    <div class="expanded-lang-flag item" style="display: none">
                        <div class="expanded-inner"></div>
                        <img class="expand-arrow"
                             src="{% static 'Ymay/images/homepage-icons/navbar-icons/expand-arrow.png' %}" alt=""
                             srcset=""/>
                        <div class="lang-opts expanded-container">
                            <!-- language option -->
                            <div class="exp-lang-opt">
                                <img class="opt-img"
                                     src="{% static 'Ymay/images/homepage-icons/navbar-icons/usa-flag.png' %}" alt=""
                                     srcset=""/>
                                <p class="opt-title">English</p>
                            </div>
                            <!-- language option -->
                            <div class="exp-lang-opt">
                                <img class="opt-img"
                                     src="{% static 'Ymay/images/homepage-icons/navbar-icons/kazakh-flag.png' %}" alt=""
                                     srcset=""/>
                                <p class="opt-title">Kazakh</p>
                            </div>
                            <!-- language option -->
                            <div class="exp-lang-opt">
                                <img class="opt-img"
                                     src="{% static 'Ymay/images/homepage-icons/navbar-icons/plus-lang.png' %}" alt=""
                                     srcset=""/>
                                <p class="opt-title">Add</p>
                            </div>
                        </div>
                    </div>
                    <div class="expanded-firepoints">
                        <div class="expanded-inner"></div>
                        <img class="expand-arrow"
                             src="{% static 'Ymay/images/homepage-icons/navbar-icons/expand-arrow.png' %}" alt=""
                             srcset=""/>
                        <div class="firepoint-opts expanded-container">
                            <!-- challenges days -->
                            <div class="challenges-day">
                                <div class="inner">
                                    <p class="title">Challenges (day)</p>
                                    <p class="days">4 / 14</p>
                                </div>
                                <div class="progress">
                                    <progress id="challenges-day" value="4" max="14"></progress>
                                </div>
                            </div>
                            <!-- challenge done and reamining -->
                            <div class="done-remaining">
                                <div class="challenge-done item">
                                    <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/challenge-fire-icon.png' %}"
                                         alt=""/>
                                    <p class="title">4 days</p>
                                    <p class="sub-title">challenge done</p>
                                </div>
                                <div class="challenge-remaining item">
                                    <img src="{% static 'Ymay/images/homepage-icons/navbar-icons/challenge-calender-icon.png' %}"
                                         alt=""/>
                                    <p class="title">10 days</p>
                                    <p class="sub-title">remaining</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- homepage main contents  -->
            <section class="homepage-main-contents">
                <!-- Repeat this container if you want to set level with right image  -->
                <div class="image-right-with-step">
                    <div class="emoji">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/thinking-emoji.png' %}" alt=""/>
                    </div>
                    <a class="yellow-step" href="{% url 'quiz' 'Quiz for А' 1 %}">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position -->
                <div class="yellow-step position-70">
                    <a href="{% url 'quiz' 'Quiz for Н' 1 %}">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position -->
                <div class="yellow-step position-60">
                    <a href="{% url 'quiz' 'Third level quiz' 1 %}">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container if you want to set level with left image  -->
                <div class="image-left-with-step">
                    <a class="exam-step" href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/exam-level.png' %}" alt=""
                             srcset=""/>
                    </a>
                    <div class="emoji">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/happy-emoji.png' %}" alt=""/>
                    </div>
                </div>
                <!-- horizontal layout -->
                <div class="horizontal-layout green-bg">
                    <div class="text-contents">
                        <p class="title">Alphabet</p>
                        <p class="sub-title">Introduction to KSL</p>
                    </div>
                    <div class="right-img">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/alphabet-layout.png' %}" alt=""
                             srcset=""/>
                    </div>
                </div>
                <!-- Repeat this container if you want to set level with left image  -->
                <div class="image-left-with-step">
                    <a class="yellow-step" href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                    <div class="emoji">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/cool-emoji.png' %}" alt=""/>
                    </div>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position -->
                <div class="yellow-step position-60">
                    <a href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position -->
                <div class="yellow-step position-70">
                    <a href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/level-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container if you want to set level with right image  -->
                <div class="image-right-with-step">
                    <div class="emoji">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/spirit-emoji.png' %}" alt=""/>
                    </div>
                    <a class="yellow-step" href="http://">
                        <!-- Start Label  -->
                        <div class="start-label">
                            <a href=""><p class="start-text">START!</p></a>

                            <img src="{% static 'Ymay/images/homepage-icons/contents-icons/start-msg.png' %}" alt=""
                                 srcset=""/>
                        </div>
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/start-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position -->
                <div class="yellow-step position-70">
                    <a href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/lock-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                </div>
                <!-- Repeat this container if you want to set level with left image  -->
                <div class="image-left-with-step position-60">
                    <a class="exam-step" href="http://">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/lock-exam-step.png' %}" alt=""
                             srcset=""/>
                    </a>
                    <div class="emoji">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/meditation-emoji.png' %}"
                             alt=""/>
                    </div>
                </div>
                <!-- horizontal layout -->
                <div class="horizontal-layout pink-bg">
                    <div class="text-contents">
                        <p class="title">Conversation #1</p>
                        <p class="sub-title">Learn how to say hello!</p>
                    </div>
                    <div class="right-img">
                        <img src="{% static 'Ymay/images/homepage-icons/contents-icons/pink-layout.png' %}" alt=""
                             srcset=""/>
                    </div>
                </div>
                <!-- Repeat this container for set step and use position-.. class for set position
            <div class="yellow-step position-60">
              <a href="http://">
                <img src="{% static 'Ymay/images/homepage-icons/contents-icons/lock-step.png' %}" alt="" srcset="" />
              </a>
            </div>
            -->
            </section>
            <!-- footer  -->
            <section class="homepage-footer">
                <div class="home item">
                    <img src="{% static 'Ymay/images/homepage-icons/footer-icons/home-fill.png' %}" alt="" srcset=""/>
                    <a href="{% url 'homepage' %}"><p class="footer-text">Home</p></a>
                </div>
                <div class="leaderboard item">
                    <img src="{% static 'Ymay/images/homepage-icons/footer-icons/leaderboard.png' %}" alt="" srcset=""/>
                    <a href="{% url 'leaderboard' %}"><p class="footer-text">leaderboard</p></a>
                </div>
                <div class="gallery item">
                    <img src="{% static 'Ymay/images/homepage-icons/footer-icons/gallery.png' %}" alt="" srcset=""/>
                    <a href="{% url 'home_language' %}"><p class="footer-text">Gallery</p></a>
                </div>
                <div class="premium item">
                    <img src="{% static 'Ymay/images/homepage-icons/footer-icons/premium.png' %}" alt="" srcset=""/>
                    <a href="{% url 'premium_go' %}"><p class="footer-text">Premium</p></a>
                </div>
                <div class="account item">
                    <img src="{% static 'Ymay/images/homepage-icons/footer-icons/account.png' %}" alt="" srcset=""/>
                    <a href="{% url 'account_page' %}"><p class="footer-text">Account</p></a>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
<script>
    var language_flag = document.getElementsByClassName("language-flag")[0];
    var fire_points = document.getElementsByClassName("fire-points")[0];
    var expanded_lang_flag = document.getElementsByClassName("expanded-lang-flag")[0];
    var expanded_firepoints = document.getElementsByClassName("expanded-firepoints")[0];

    language_flag.addEventListener("click", function () {
        if (expanded_lang_flag.classList.contains("show")) {
            expanded_lang_flag.classList.remove("show");
        } else {
            expanded_lang_flag.classList.add("show");
            expanded_firepoints.classList.remove("show");
        }
    });

    fire_points.addEventListener("click", function () {
        if (expanded_firepoints.classList.contains("show")) {
            expanded_firepoints.classList.remove("show");
        } else {
            expanded_firepoints.classList.add("show");
            expanded_lang_flag.classList.remove("show");
        }
    });

</script>
</html>
