<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="content">
          <section class="diamond-contents">
            <a href="http://">
              <img src="images/cancel.png" alt="" srcset="" />
            </a>
            <div class="loading-screen-contents">
              <img src="images/loading-screen-icons/expression-icon.png" alt="" srcset="" />
              <p class="msg">Loading...</p>
              <progress id="challenges-day" value="4" max="14"></progress>
              <p class="desc">Complete the course faster to get more XP and Diamonds.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
