<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Review Summary</title>
    <link rel="stylesheet" href="{% static 'Ymay/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet"/>

    <style>

        .video-container {
            margin-top: 20px;
        }

        .embed-responsive-16by9 iframe {
            width: 390px;
            height: 292px;

            border-radius: 39px;
            overflow: hidden;
        }

    </style>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="content">
            {% if next_question %}
                <form method="POST" action="{% url 'quiz' quiz.title next_question.order %}">

                    {% csrf_token %}
                    <section class="translate-sentence-contents">
                        <div class="select-payment-header">
                            <a href="{% url 'homepage' %}">
                                <img class="cancel" src="{% static 'Ymay/images/cancel.png' %}" alt="" srcset=""/>
                            </a>
                            <progress id="trans-sent-progress" value="15" max="100"></progress>
                            <div class="trans-diamond-value">
                                <img src="{% static 'Ymay/images/translate-sentence-icons/diamond-icon.png' %}" alt=""/>
                                <p class="value">937</p>
                            </div>
                        </div>
                        <!-- Heading -->
                        <p class="heading">{{ question.text }}</p>


                        <!-- video section  -->
                        {% if video_url %}
                            <div class="video-container">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <script>
                                        var videoUrl = "{{ video_url }}";
                                        videoUrl = videoUrl.replace("http://", "https://");
                                        document.write('<iframe src="' + videoUrl + '" frameborder="0" allowfullscreen></iframe>');
                                    </script>
                                </div>
                            </div>
                        {% endif %}



                        <div class="translate-letters">
                            {% for answer in answers %}
                                <div class="letter letter-option" data-answer-id="{{ answer.id }}">
                                    <input type="hidden" class="answer-field" name="selected_answer_id"
                                           value="{{ answer.id }}">
                                    <div class="answer-text">{{ answer.text }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>

                    <!-- continue button  -->
                    <section class="signup-btns">
                        <div class="continue-btn">

                            <input type="hidden" name="order" value="{{ next_question.order }}">
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <input type="hidden" name="video_id" value="{{ video.id }}">
                            <input type="hidden" name="video_title" value="{{ video.title }}">
                            <button type="submit" class="btn m-b-20 btn-primary">Check Answers</button>

                        </div>
                    </section>
                </form>
            {% endif %}
            <form method="POST" action="{% url 'quiz' quiz.title question.order %}">

                {% csrf_token %}
                <section class="translate-sentence-contents">
                    <div class="select-payment-header">
                        <a href="{% url 'homepage' %}">
                            <img class="cancel" src="{% static 'Ymay/images/cancel.png' %}" alt="" srcset=""/>
                        </a>
                        <progress id="trans-sent-progress" value="15" max="100"></progress>
                        <div class="trans-diamond-value">
                            <img src="{% static 'Ymay/images/translate-sentence-icons/diamond-icon.png' %}" alt=""/>
                            <p class="value">937</p>
                        </div>
                    </div>
                    <!-- Heading -->
                    <p class="heading">{{ question.text }}</p>
                    <!-- video section -->
                    {% load embed_video_tags %}
                    <div class="video-container">
                        {% video video.embed as my_video %}
                            {% if my_video %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    {% video my_video %}
                                </div>
                            {% endif %}
                        {% endvideo %}
                    </div>
                    <div class="translate-letters">
                        {% for answer in answers %}
                            <div class="letter letter-option" data-answer-id="{{ answer.id }}">
                                <input type="hidden" class="answer-field" name="selected_answer_id"
                                       value="{{ answer.id }}">
                                <div class="answer-text">Sign: "{{ answer.text }}"</div>
                            </div>
                        {% endfor %}
                    </div>
                </section>

                <!-- continue button  -->
                <section class="signup-btns">
                    <div class="continue-btn">

                        <input type="hidden" name="order" value="{{ next_question.order }}">
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        <input type="hidden" name="video_id" value="{{ video.id }}">
                        <input type="hidden" name="video_title" value="{{ video.title }}">
                        <button type="submit" class="btn m-b-20 btn-primary">Check Answers</button>

                    </div>
                </section>
            </form>
            <!-- Correct section  -->
            <!-- remove style to view the section  -->
            <section id="correct-section" class="correct-section" style="{{ correct_section_style }}">
                <div class="correct-section-inner">
                    <div class="correct-left-content">

                        <p class="title">Correct</p>
                    </div>
                    <div class="correct-right-content">
                        <img class="send-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/send-icon.png' %}" alt=""
                             srcset=""/>
                        <img class="chat-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/chat-icon.png' %}" alt=""
                             srcset=""/>
                        <img class="info-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/info-icon.png' %}" alt=""/>
                    </div>
                </div>
                <div class="correct-sec-btn">
                    <button class="btn" onclick="hideCorrectSectionCorrect()">CONTINUE</button>
                </div>
            </section>
            <!-- Wrong section  -->
            <!-- remove style to view the section  -->
            <section id="wrong-section" class="wrong-section" style="{{ wrong_section_style }}">
                <div class="wrong-section-inner">
                    <div class="wrong-left-content">

                        <p class="title">Wrong!</p>
                    </div>
                    <div class="wrong-right-content">
                        <img class="send-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/send-icon.png' %}" alt=""
                             srcset=""/>
                        <img class="chat-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/chat-icon.png' %}" alt=""
                             srcset=""/>
                        <img class="info-icon icon"
                             src="{% static 'Ymay/images/translate-sentence-icons/correct/info-icon.png' %}"
                             alt=""/>
                    </div>
                </div>
                <div class="heading">Correct answer was:</div>
                <div class="sub-heading">Sign: "{{ correct_answer }}"</div>
                <div class="wrong-sec-btn">
                    <button class="btn" onclick="hideCorrectSectionWrong()">CONTINUE</button>
                </div>
            </section>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function hideCorrectSectionCorrect() {
        var correctSection = document.getElementById("correct-section");
        correctSection.style.display = "none";
    }

    function hideCorrectSectionWrong() {
        var correctSection = document.getElementById("wrong-section");
        correctSection.style.display = "none";
    }

</script>
<script>
    $(document).ready(function () {
        $('.letter-option').click(function () {
            $(this).addClass('selected');
            $(this).siblings().removeClass('selected');
            var answerId = $(this).data('answer-id');
            $('.answer-field').val(answerId);
        });
    });


</script>
<script>
    // Get all elements with the class "my-class"
    const elements = document.querySelectorAll(".letter-option");
    // Loop through each element and add an event listener to it
    elements.forEach((element) => {
        element.addEventListener("click", function () {
            // Change the background color of the clicked element
            this.classList.add("active-option");
            elements.forEach((nonClickedElement) => {
                if (nonClickedElement !== this) {
                    nonClickedElement.classList.remove("active-option");
                }
            });
        });
    });
</script>
</html>
